* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
  }

  header {
    font-size: 2rem;
  }
  
  header,
  form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  form input,
  form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
  }

  form {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0.5rem 2rem;

    border-bottom: 1px solid whitesmoke;
  }

  form .inputs {
    display: flex;
  }

  form input.date {
    margin-right: 1rem; 
  } 
  
  form button {
    color: #ff6f47;
    background: #f7fffe;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  form button:hover {
    background: #ff6f47;
    color: white;
  }

  /*CUSTOM SELECTOR */
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
  }
  
  /* Custom Select */
  .select {
    position: relative;
    overflow: hidden;
    
  }
 
  select {
    color: #ff6f47;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    width: 12rem;
  }

  /* Arrow */
  .select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    background: #ff6f47;
    cursor: pointer;
    pointer-events: none;
    transition: all 300ms;
  }

  .select:hover::after {
    background: #cc4c28;
  }

  .todo-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 2rem;
    margin-top: 1rem;
  }
  
  .todo-list {
    min-width: 30%;
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .todo {
    margin: 0.5rem;
    background: white;
    font-size: 1.5rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
  }

  .filter-todo {
    padding: 1rem;
  }

  .todo-date {
      margin-right: 0rem;
      padding: 0.7rem;
      font-size: 1.5rem;
      text-align: center;
      width: 12rem;
      color: rgb(5, 5, 255);
      border: none;
  }

  .todo li {
    flex: 1;
    padding: 0 1rem;
  }
  
  .trash-btn,
  .complete-btn {
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    transition: all 300ms;
  }
  
  .complete-btn {
    background: rgb(11, 212, 162);
  }
  .complete-btn:hover {
    background: rgb(20, 165, 129);
  }

  .trash-btn {
    background: #ff6f47;
  }
  .trash-btn:hover {
    background: #d15431;
  }

  .todo-item {
    padding: 0rem 0.5rem;
  }
  
  .fa-trash,
  .fa-check {
    pointer-events: none;
  }
/*   
  .fall {
    transform: translateY(10rem) rotateZ(20deg);
    opacity: 0;
  } */
  
  .completed {
    text-decoration: line-through;
    opacity: 0.5;
  }
  
  